body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#searchInput {
  width: 50%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#searchButton {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#searchForm {
  display: flex;
  justify-content: center;
}

#map {
  height: 500px;
  width: 100%;
}

#panel {
  height: 430px;
  width: 300px;
  background-color: white;
  margin: 10px;
  margin-top: 60px;
  position: absolute;
  z-index: 500;
  border: 0.5px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

#panelTitle {
  text-align: center;
}


#image-container {
  text-align: center;
}

